body {
    margin: 1rem;
    background-color: cadetblue;
}

ul {
    list-style-type: none;
    
    margin: 0;
    padding: 0;
    width: 8.5rem;
    background-color: #b9fd4c;
    position: fixed;
    height: 22rem;
    overflow: auto;
    border-radius: 1em;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

li a.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


.contenedor {
    margin-top: 1rem;
    margin-left: 10rem;
    margin-right: 1rem;
    padding: 1px 16px;
    border-radius: 2em;
    height: 41rem;
    background-color: #04AA6D;
}
h2{
    text-align: center;
    color: #555;
}
h3{
    text-align: center;
    color: rgb(54, 54, 54);
}

h4{
    text-align: center;
}